.alert-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px
}

.nav ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #4b5a69 !important;
    color: #fff !important;
    text-decoration: none;
    padding: 5px 12px 5px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #000000 !important;
}

.nav li ul {
    display: none;
    position: absolute;
    width: 250px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
    left: -20%;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

#acerca {
    margin: 10px 10px 10px 10px;
    height: 90vh;
}

#ayuda {
    margin: 10px 10px 10px 10px;
    height: 90vh;
    overflow-y: scroll;
}