<div class="row">
    <div class="col-3">
        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Conceptos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Nivel de Base de Datos</h6>
                <p class="card-text">La estructura de la base de datos esta pensada para permitir manejar de forma diferencieda lo que es la estructura externa del programa (menús, accesos, paginas de bienvenida) y la parte interna del programa correspondiente a la funcionabilidad del cliente.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Conceptos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Back End</h6>
                <p class="card-text">Creado para ser RestFull, fue desarrado en varios idiomas para adaptar a diversos entornos: PHP, Node.js, Java (String y JAR_WS).</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Conceptos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Front End</h6>
                <p class="card-text">Las interfaces Web fueron desarrolladas en HTML, React y Angular, a gusto del cliente, verificando la independencia de origen de datos.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Conceptos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Servidores</h6>
                <p class="card-text">Los servidores pueden ser Apache, nginext, Tomcat, según la infraestructura disponible en el cliente.</p>
            </div>
        </div>
    </div>
</div>