<!--Cuerpo de Ayuda-->
<div id="ayuda">
    <h1>Ayuda</h1>
    <h3>Esquema basico de programa</h3>
    <p>Este esquema, incluye solamente la estructura de seguridad, y la funcionabilidad de menus, estructurado en base de datos aparte para incluir datos en esquema aparte de cualquier otro programa.</p>
    <h2>Desarrollo:</h2>
    <h3>Rolando A. Strahm</h3>
    <h4>2019-05-01</h4>
</div>