<!--Cuerpo de ingreso formulario de ingreso-->
<div id="ingreso" class="card" style="width: 16rem; top: 25px;">
    <div class="card-body">
        <h5 class="card-title">Ingreso</h5>
        <p class="card-text">
            <form id="formIngreso" name="formIngreso">
                <div class="form-group">
                    <label for="inputUser">Usuario</label>
                    <input type="input" class="form-control" id="inputUser" aria-describedby="Usuario" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <label for="inputPass">Clave</label>
                    <input type="password" class="form-control" id="inputPass" placeholder="Clave">
                </div>
                <div style="text-align: center;">
                    <button id="btnAccess" type="submit" class="btn btn-primary" onclick="formAccess();">Ingresar</button>
                </div>
            </form>
        </p>
    </div>
</div>